.nav{
    
    position:static;
    background-color: rgb(127, 255, 255) !important;
    border-style:groove;
    border-radius: 20px;
    border-color: darkorange;
    height: 70px;
    
    
    
}
